/* Write your CSS here */
.denomination-button {
  border-radius: 20px;
  width: 120px;
  height: 70px;
  border-color: aqua;
  background-color: #433f53;
  color: #e9e4fc;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
